<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="Tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include/>
    <exclude>
      <directory>./Tests</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Hello World Test Suite">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
